.container{
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 10px;
    width: 100%;
    margin-top: 100px;
}
.cards{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 100px;
}
.cards__h1{
    color: rgb(0, 0, 0);
    font-family: poppins;
    font-weight: 600;
    font-size: 38px;
    text-align: center;
}
.cards__left{
    width: 45%;
}
.cards__right{
    width: 45%;
}
.cards__p{
    color: #000000;
    font-family: poppins;
    font-size: 28px;
    font-weight: 600;
}
.cards__span{
    color: #000000;
    font-family: poppins;
    font-size: 14px;
    font-weight: 400;
}
.Images{
    width: 100%;
    height: 380px;
}
.card{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 100px;
}
.card__left{
    width: 45%;
}
.card__right{
    width: 45%;
}
@media only screen and (max-width: 780px) {
    .cards{
        margin: 0;
        display: block;
    }
    .card{
        flex-direction:column-reverse;
    }
    .cards__left{
        width: 100%;
        text-align: center;
    }
    .cards__right{
        width: 100%;
        text-align: center;
    }
    .card__left{
        width: 100%;
        text-align: center;
    }
    .card__right{
        width: 100%;
        text-align: center;
    }
 }